.recipeLinkContainer{
    /* display: flex; */
    flex-direction: column;
    align-items: start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.recipeLink{
    display: flex;
    flex-direction: column;
    background-color: #FEA6FF;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.recipeFilter{
    margin: 10px;
}

.recipeContainer{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.heading{
    text-align: center;
    font-size: 3rem;
}

.recipeFormContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: stretch;
    /* width: 100%; */
    border-radius: 20px;
    background: #77DD77;
    box-shadow:  0px 8px 8px #000000;
}

.dish-cuisine{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.time-servings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}

.recipeImg{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.img:hover{
    background-color: white;
}

label{
    font-size: 1.5rem;
    padding-top: 7px;
}

input{
    border-radius: 5px;
    padding: 3px;
    background-color: #aae5b7;
}

textarea{
    border-radius: 5px;
    height: 100px;
    padding: 3px;
    background-color: #aae5b7;
}
p{
    font-size: larger;
    padding: 5px;
}

.formButton{
    background-color: #15B392;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
}

.formButton:hover{
	background-color: #73EC8B;
}


.recipeForm{
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: start;
}

#allRecipes{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.recipeBoxContainer{
    display: inline-block;
}

.recipeBox{
    display: flex;
    padding: 10px;
}

.recipe{
    width: 340px;
    height: 300px;
}

/* ================================= specific recipe page ======================== */

.myRecipePage{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.theRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc089;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
}

/* ====================================== recipe comment form ============= */
.recipeCommentsForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: greenyellow;
    /* border-radius: 10px; */
    width: 100%;
    height: max-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
}

/* ================= comments ================================ */

.recipeCommentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.recipeComment{
    box-shadow:  0px 2px 2px #aea6a6;
    padding: 10px;
    margin-bottom: 15px;
}

/* ====== delete button =============================== */

.buttons{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: max-content ;
    width: max-content;
    margin-top: 10px;
}

.deleteRecipe{
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 10px;
    height: max-content ;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
}

.deleteRecipe:hover{
    background-color: rgb(7, 10, 13);
}

