.recipeContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.recipeLinkContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.recipeLink{
    display: flex;
    flex-direction: column;
    background-color: #5fdda0;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: max-content;
    box-shadow:  0px 2px 2px #aea6a6;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.recipeLink:hover{
    background-color: #73EC8B;
}

.recipeFilter{
    margin: 10px;
    width: 100%;
    /* box-shadow:  0px 2px 2px #aea6a6; */
}

.heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.recipeFormContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: stretch;
    /* width: 100%; */
    border-radius: 20px;
    background: #77DD77;
    box-shadow:  0px 2px 2px #aea6a6;
}

.dish-cuisine{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.time-servings-rate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}

.recipeImg{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.img:hover{
    background-color: white;
}

label{
    font-size: 1.5rem;
    padding-top: 7px;
}

input{
    border-radius: 5px;
    padding: 3px;
    background-color: #aae5b7;
}

textarea{
    border-radius: 5px;
    height: 100px;
    padding: 3px;
    background-color: #aae5b7;
}
p{
    font-size: larger;
    padding: 5px;
}

/* .formButton{
    background-color: #0ed8ac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
} */

/* .formButton:hover{
	background-color: #0b2110;
} */


.recipeForm{
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: start;
}

#allRecipes{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.recipeBoxContainer{
    display: inline-block;
}

.recipeBox{
    display: flex;
    padding: 10px;
}

.recipe{
    width: 340px;
    height: 300px;
}

/* ================================= specific recipe page ======================== */

.wholeRecipePage{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.myRecipePage{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; */
}

.theRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E3F0AF;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
}

/* ====================================== recipe comment form ============= */
.recipeCommentsForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #FBF6E9;
    /* border-radius: 10px; */
    width: 100%;
    height: max-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
    border-radius: 5px;
}

/* ================= comments ================================ */

.recipeCommentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.recipeComment{
    box-shadow:  0px 2px 2px #aea6a6;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
}

.commentInput{
    width: 100%;
    width: max-content;
}

.commentButton{
    background-color: #118B50;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow:  0px 2px 2px #aea6a6;
}
.commentButton:hover{
    background-color: #5DB996;
}

/* ====== delete button =============================== */

.recipeButtons{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: max-content ;
    width: max-content;
    margin-top: 10px;
}

.deleteRecipe{
    background-color: rgb(247, 0, 0);
    color: white;
    font-weight: bold;
    padding: 10px;
    height: max-content ;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
    border-radius: 5px;
}

.deleteRecipe:hover{
    background-color: rgb(7, 10, 13);
}

.updateLink{
    background-color: #FF8989;
    color: white;
    font-weight: bold;
    padding: 10px;
    height: max-content ;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow:  0px 2px 2px #aea6a6;
    border-radius: 5px;
}

.updateLink:hover{
    background-color: #FEA6FF;
}

/* =========================== update recipe page ==================== */
.updatePage{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* .updateForm{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
} */

.uFormContainer{
    background-color:  #77DD77;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  0px 2px 2px #aea6a6;
}

.cuisine-dish{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.formButton{
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow:  0px 2px 2px #aea6a6;;
    width: max-content;;
    font-size: 25px;
}

.formButton:hover{
    background-color: rgb(81, 242, 178);
}

.backLink{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    height: max-content ;
    width: max-content;
    background-color: #5DB996;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow:  0px 2px 2px #aea6a6;;
}

.backLink:hover{
    background-color: #118B50;
}

/* ======================================= Media queries ======================================= */

@media (orientation: portrait) {
    .recipeContainer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .recipeLinkContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        }

    .recipeLink{
        background-color: #5fdda0;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        width: max-content;
        box-shadow:  0px 2px 2px #aea6a6;
        color: white;
        font-weight: bold;
    }
    
    .recipeFilter{
        /* display: flex;
        flex-direction: column; */
        margin: 10px;
        box-shadow:  0px 2px 2px #aea6a6;
        border-radius: 10px;
        width: 100%;
    }

    #allRecipes{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .recipeBoxContainer{
        width: max-content;
        height: max-content;
    }
    .recipe{
        background-color: white;

    }
    .recipe:hover{
        background-color: #48bb78
    }

    .recipeForm{
        height: max-content;
    }

    .wholeRecipePage{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .updatePage{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}